pipeline/pipeline_openfda.json
{
	"name": "pipeline_openfda",
	"properties": {
		"activities": [
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://api.fda.gov/drug/event.json?search=receivedate:[20250101+TO+20250131]"
				}
			},
			{
				"name": "Record Count",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_record_count",
					"value": {
						"value": "@activity('Web1').output.meta.results.total",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Skip Count",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Record Count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var_skip_count",
					"value": {
						"value": "@if(equals(mod(variables('var_record_count'), 1000), 0),\n    div(variables('var_record_count'), 1000),\n    add(div(variables('var_record_count'), 1000), 1))\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Skip Count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(0, 25)\n",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Copy data For Each",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET"
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_source_OpenFDA_JSON",
									"type": "DatasetReference",
									"parameters": {
										"relativeUrl": {
											"value": "@concat('drug/event.json?search=receivedate:[20250101+TO+20250131]&limit=1000&skip=', string(mul(item(), 1000)))\n",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sink_OpenFDA_adls",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"var_record_count": {
				"type": "Integer"
			},
			"var_skip_count": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "openFDA"
		},
		"annotations": [],
		"lastPublishTime": "2025-07-22T09:49:45Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}