pipeline/pl_assignment_3_IncrementalLoad.json
{
	"name": "pl_assignment_3_IncrementalLoad",
	"properties": {
		"description": "To load tables using ModifiedDate in SQL DB(and in our source Dataset) and a Pipeline parameter - lastRunDate.",
		"activities": [
			{
				"name": "Lookup-Config File",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_source_config_file",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Lookup",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup-Config File",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup-Config File').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat(\n  'SELECT * FROM ',\n  item().SchemaName, '.', item().TableName,\n  ' WHERE ModifiedDate > ''', pipeline().parameters.lastRunDate, ''''\n)\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_source_SQL_Generic_IncrementalLoad",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@item().SchemaName",
											"type": "Expression"
										},
										"TableName": {
											"value": "@item().TableName",
											"type": "Expression"
										},
										"LastModified": {
											"value": "@pipeline().parameters.lastRunDate",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sink_Blob_Generic_IncrementalLoad",
									"type": "DatasetReference",
									"parameters": {
										"OutputFileName": {
											"value": "@concat(item().OutputFileName, formatDateTime(utcNow(), 'yyyyMMdd_HHmmss'))\r\n",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Set variable",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "CurrentRunDate",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"lastRunDate": {
				"type": "string",
				"defaultValue": "2000-07-22T00:00:00Z"
			},
			"currentRunDate": {
				"type": "string"
			}
		},
		"variables": {
			"CurrentRunDate": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-07-23T06:27:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}